[user]
    email = lemuelroberto@gmail.com
    name = Lemuel Roberto Bonifácio
    signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIL+g2Pxbs/hLbmxll9DVc+Bbolz6S6LHWldsv0u79V0i

[core]
    editor = nvim

[alias]
    # Amend the currently staged files to the latest commit
    amend = commit --amend

[help]
    # Automatically correct and execute mistyped commands
    autocorrect = 1

[pull]
    # Rebase on pull
    rebase = true

# Enforce SSH
[url "git@github.com:"]
    insteadOf = https://github.com/
    pushInsteadOf = https://github.com/

[url "git@gitlab.com:"]
    insteadOf = https://gitlab.com/
    pushInsteadOf = https://gitlab.com/

[url "git@bitbucket.org:"]
    insteadOf = https://bitbucket.org/
    pushInsteadOf = https://bitbucket.org/

[init]
    defaultBranch = main

[gpg]
    format = ssh

[gpg "ssh"]
    program = "/opt/1Password/op-ssh-sign"

[commit]
    gpgsign = true
