.bashrc_sources/private
.bash_history
.cache/
.calc_history
.config
.gnupg/
.lesshst
.local/
.mozilla/
.pki/
.ssh/
.viminfo
.vscode-oss/
.vscode/
.Xauthority
dotfiles/
Downloads/
repositories/
workspace/
