[user]
    email = lemuelroberto@gmail.com
    name = Lemuel Roberto Bonifácio
    signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIL+g2Pxbs/hLbmxll9DVc+Bbolz6S6LHWldsv0u79V0i

[core]
    editor = nvim

[alias]
    # Amend the currently staged files to the latest commit
    amend = commit --amend

    # Log abbreviated commit hash and subject
    loghs = log --pretty=format:'%h %s'

    # Fixup the newest non-fixup commit and push to remote
    fixup = "!f() { \
        if [ -z "$(git status --porcelain)" ]; then \
            echo "No changes to commit."; \
            return 1; \
        fi; \
        hash=$(git loghs | grep -v -F "fixup!" | head -n 1 | cut -d' ' -f1); \
        if [ -n "$hash" ]; then \
            echo "Creating fixup for commit $hash"; \
            git add -A && git commit --fixup=$hash && git push; \
        else \
            echo "No suitable commit found to fixup."; \
            return 1; \
        fi; \
    }; f; unset f;"

    # Fixup the first branch commit and push to remote
    ffp = "!f() { \
        merge_base=$(git merge-base main HEAD); \
        if [[ "${merge_base}" == "$(git rev-parse HEAD)" ]]; then \
            echo "Current branch is identical to main"; \
        else \
            first_commit=$(git rev-list --reverse "${merge_base}"..HEAD | head -n 1); \
            git add . && \
            git commit --fixup=${first_commit} && \
            git push; \
        fi; \
    }; \
    f; \
    unset f;"

[help]
    # Disable automatic correction for mistyped commands
    autocorrect = 0

[pull]
    # Rebase on pull
    rebase = true

# Enforce SSH
[url "git@github.com:"]
    insteadOf = https://github.com/
    pushInsteadOf = https://github.com/

[url "git@gitlab.com:"]
    insteadOf = https://gitlab.com/
    pushInsteadOf = https://gitlab.com/

[url "git@bitbucket.org:"]
    insteadOf = https://bitbucket.org/
    pushInsteadOf = https://bitbucket.org/

[init]
    defaultBranch = main

[gpg]
    format = ssh

[gpg "ssh"]
    program = "/opt/1Password/op-ssh-sign"

[commit]
    gpgsign = true
