.android/
.aspnet/
.aws/
.bashrc_sources/private
.bash_history
.bash_history-*.tmp
.bendsql_history
.boto
.bun/
.cache/
.calc_history
.calc_history-*.tmp
.cargo/
.cdk/
.claude.json
.claude.json.backup*
.claude/
.config/
.cursor/
.docker/
.eclipse/
.elasticbeanstalk/
.electrum/
.emacs.d/auto-save-list/
.emacs.d/tutorial/
.emulator_console_auth_token
.expo/
.flutter
.flutter-devtools/
.gemini/
.gnupg/
.go/
.gradle/
.gsutil/
.hplip/
.irpf/
.ivy2/
.java/
.kcompose/
.kube/
.lemminx/
.lesshst
.local/
.mozilla/
.mplayer/
.node_repl_history
.npm-packages/
.npm/
.nvm/
.pki/
.psql_history
.pub-cache/
.python_history
.railway/
.receitanet/
.rfb/
.sbt/
.serpro/
.signer/
.sqlite_history
.ssh/
.swt/
.terraform.d/
.vagrant.d/
.vim/.netrwhist
.viminfo
.vscode-oss-shared/
.vscode-oss/
.vscode/
.wget-hsts
.Xauthority
.yarn/
.yarn/bin/
.yarnrc
.zoom/
Android/
dotfiles/
Downloads/
fvm/
obs-recordings/
packages/
ProgramasRFB/
repositories/
vault/
VirtualBox VMs/
workspace/
