.bashrc_sources/private
.bash_history
.cache/
.calc_history
.cargo/
.config/
.docker/
.emacs.d/auto-save-list/
.emacs.d/tutorial/
.gnupg/
.go/
.gsutil/
.irpf/
.java/
.kube/
.lemminx/
.lesshst
.local/
.mozilla/
.node_repl_history
.npm-packages/
.npm/
.pki/
.python_history
.receitanet/
.rfb/
.sqlite_history
.ssh/
.vagrant.d/
.vim/.netrwhist
.viminfo
.vscode-oss/
.vscode/
.Xauthority
.yarn/bin/
.yarnrc
.zoom/
dotfiles/
Downloads/
ProgramasRFB/
repositories/
VirtualBox VMs/
workspace/
